@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Zen Maru Gothic", "Sunflower", sans-serif !important;
  font-weight: 700;
  background-color: #F7F1EB;
  color: #5A4636;
}

body, input, textarea, select, h1, h2, h3, h4, span, p, div {
  font-family: "Zen Maru Gothic", "Sunflower", sans-serif;
  font-weight: 700;
}

/* 讓 Sunflower 區塊明確指定使用 500 粗重 */
span, div, p {
  font-synthesis: none;
}

/* ===== iOS Safari 防止輸入時自動放大 ===== */
input,
textarea,
select {
  font-size: 16px !important;
}

input:focus,
textarea:focus {
  outline: none;
}